* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100vh;
 	background-color: #f4e5f9;
}

.member-form {
	display: flex;
	flex-direction: column;
	width: 300px;
}

input {
	margin-bottom: 1rem;
}

.pro-bold {
	font-weight: 700;
	color: gold;
}